PyAudio
requests
pyttsx3
stream2sentence
fastapi>=0.104.1
loguru
pydantic
pydub
python-dotenv
torch
torchaudio
uvicorn
cutlet
fugashi[unidic-lite]
coqui-tts==0.26.0
transformers==4.48.0
uuid
spacy==3.7.5
coqpit-config>=0.2.0,<0.3.0
resampy
